---js
{
  pagination: { data: "reportPages", size: 1, alias: "pg" },
  permalink: "{{ pg.url }}",
  eleventyComputed: {
    report: data => data.pg.report,
    edition: data => data.pg.edition,
    meta: data => data.pg.meta
  }
}
---
{% extends report.template + ".njk" %}
